html, body, ul, li, h1, h2, h3, h4, h5, h6, img, p {
	color: #777;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	letter-spacing: 0.2px;
}

h1, h2, h3, h4, h5, h6 {
	/* font-family: "alverata-informal-pe", sans-serif; */
	font-family: 'Alegreya Sans', sans-serif;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}


/* ---------------- MAIN NAVIGATION --------------- */
nav {
	background-color: #dadada;
	height: 40px;
}

.nav-list, .social-list {
	list-style: none;
}

.nav-list li, .social-list li {
	float: left;
}

.nav-list li {
	margin-right: 20px;
}

.nav-list li a {
	color: #fff;
	text-decoration: none;
}

.nav-list {
	padding-top: 10px;
}
.social-list {
	float: right;
}


.social-list li {
	margin-left: 20px;
}

/* ------------ HEADER -------------- */
header h1, header h3 {
	font-weight: normal;
	text-align: center;
}

header h1 {
	font-size: 44px;
	margin-top: 20px;
}

header h3 {
	color: #e46965;
	font-size: 20px;
	margin-bottom: 20px;
}
